body,ul,li{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    color: #666666;
    text-decoration: none;
}
.wrap{
    overflow: hidden;
}
.top{
    width: 100%;
    height: 30px;
    font-size: 0;
    line-height: 30px;
}
.topHead{
    width: 80%;
    margin: 0 auto;
}
.phone{
    vertical-align: middle;
    display: inline-block;
    width: 15px;
    height: 30px;
    background: url("../img/indeximg/indexjl.png") -40px 69% no-repeat;
}
.topHead div{
    font-size: 12px;
    color:#666666;
    display: inline-block;
}
.topHead span:hover,.topRight li:hover{
    cursor: pointer;
    text-decoration: underline;
}
.topRight{
    float: right;
}
.topRight li{
    display: inline-block;
    margin: 0 10px;
}
.topRight li span{
    display: inline-block;
    transform: rotate(-90deg);
}
.head{
    background: url("../img/indeximg/bg-head.jpg") 50% 0 no-repeat;
    height: 201px;
    position: relative;
}
.headTop{
    width: 100%;
    position: absolute;
    top:15%;
    left: 10%;
}
.headTop div{
    display: inline-block;
    vertical-align: middle;
}
.logo{
    width: 300px;
    height: 55px;
    background: url("../img/indeximg/indextop.png") 40% 0 no-repeat;
}
.seek{
    margin-left:7%;
    border:1px solid #684c4c;
}
.inp{
    box-sizing: border-box;
    width: 470px;
    height: 47px;
    padding: 14px 10px 15px;
    background: none;
    color: #9f9f9f;
    border: none;
    outline: none;
}
.inp:hover{
    color: #ddd;
}
.glass{
    vertical-align: middle;
    display: inline-block;
    width: 49px;
    height: 46px;
    background:rgb(105,109,114) url("../img/indeximg/放大镜.png") 50% 35% no-repeat ;
    background-size: 70%;
}
.lol{
    width: 223px;
    height: 59px;
    background: url("../img/indeximg/indextop.png") 26% 0% no-repeat;
    margin-left: 5%;
}

.lead{
    width: 100%;
    font-size: 18px;
    color:#9F9F9F;
    position: absolute;
    bottom: 0px;
    left:11%;
}
.lead li{
    width: 132px;
    text-align: center;
    display: inline-block;
    height: 76px;
    line-height: 76px;
    cursor: pointer;
}
.lead li:nth-child(1){
    color: #fff;
    font-weight: bold;
    background: url("../img/indeximg/indextop.png") 15% 0% no-repeat;
}
.lead li:hover{
    color: #FF5900;
}
.lead .shop{
    width: 185px;
    color: #FF5900;
    margin-left: 3%;
}
.shop span{
    display: inline-block;
    width: 45px;
    height: 30px;
    margin-bottom: 10px;
    vertical-align: middle;
    background: url("../img/indeximg/indextop.png") 12.2% 0% no-repeat;
}