﻿/* 样式重置 */
body,
ul,
li,
p,
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: #555555;
    font-size: 0;
}

/* 清浮动 */
.clear::after {
    content: "";
    display: block;
    clear: both;
}

body {
    width: 100%;
    /* height: 920px; */
    background:#f3f4f6 url(../img/indeximg/bg2.jpg) top center no-repeat;
    background-size: 126% 28.3%;
}

/* 导航栏部分样式--start */

/* 居中内容部分 */
.wrap {
    width: 1190px;
    height: 2811px;
    margin: 0 auto;
    background: #f3f4f6 url(../img/indeximg/bg.jpg) 0 0 no-repeat;
    background-size: 100% 918px;
}

/* 导航栏样式 */
.nav {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    white-space: nowrap;
}

/* 导航栏左侧样式 */
.navTip {
    float: left;
}

/* 文字样式 */
.navTip span {
    color: #9f9f9f;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
}
.navTip span:hover{
    text-decoration: underline;
    cursor: pointer;
}
/* 手机图标样式 */
.navTip i {
    float: left;
    width: 11px;
    height: 16px;
    background: url(../img/indeximg/indexjl.png) no-repeat;
    background-position: -42px -823px;
    margin: 7px 3px 0 0;
    vertical-align: top;
}

/* 分割线 */
.nav em {
    font-style: normal;
    margin: 0 7px;
    color: #303034;
    vertical-align: top;
}

/* 导航栏右侧列表内容 */
.navList {
    width: 600px;
    float: right;
    color: #9f9f9f;
    float: right;
}

/* 登录窗 */
.navList div {
    float: left;
    margin: 0 3px 0 175px;
}
/* 登录hover效果 */
.login:hover{
    text-decoration: underline;
    cursor: pointer;
}

.navList span:hover{
    text-decoration: underline;
    cursor: pointer;
}

/* 游戏导航样式 */
.nav_game {
    width: 65px;
    height: 20px;
    line-height: 20px;
    background: url(../img/indeximg/indexbom.png) no-repeat;
    background-position: 59px -33px;
    border: 1px solid #292b2e;
    display: inline-block;
    padding: 0 5px;
}

/* 搜索部分 */
.search_box {
    width: 1190px;
    height: 96px;
    margin: 0 auto;
}

/* 左侧logo图 */
.logo_djc {
    width: 280px;
    height: 52px;
    margin-top: 23px;
    background: url(../img/indeximg/indextop.png) no-repeat;
    background-position: -670px -5px;
    display: inline-block;
    vertical-align: top;
}

/* 搜索框 */
.search {
    margin: 25px 65px 0 100px;
    width: 526px;
    height: 51px;
    display: inline-block;
    background: url(../img/indeximg/indextop.png) no-repeat;
    background-position: -999px 0;
    vertical-align: top;

}

/* 搜索框样式 */
.search input {
    float: left;
    margin: 1px 0 0 6px;
    width: 447;
    padding: 14px 10px 15px 10px;
    height: 18px;
    line-height: 18px;
    border: none;
    outline: none;
    color: #9f9f9f;
    font-size: 14px;
    background: none;
}
.search input:hover{
    color:#cfcfcf;
}
.searchBtn{
    background: url("../img/indeximg/indextop.png") -1558px 0 no-repeat ;
    float: right;
    width: 53px;
    height: 46px;
    margin: 2px 2px 0 0;
    cursor: pointer;
}
/* 英雄联盟logo */
.logo_lol {
    width: 218px;
    height: 59px;
    float: right;
    margin-top: 23px;
    vertical-align: top;
    background: url(../img/indeximg/indextop.png) no-repeat;
    background-position: -437px -5px;
}

/* 网页结构导航栏 */
.navLink {
    height: 76px;
    line-height: 76px;
}

.navLink ul {
    display: flex;
    justify-content: space-between;
}

/* 设置网页导航栏每格样式 */
.navLink li {
    width: 134px;
    height: 76px;
    display: block;
    text-align: center;
    line-height: 76px;
    font-size: 18px;
    color: #9f9f9f;
}

.navLink li:hover {
    color: #ff5900;
    cursor: pointer;
}

/* 设置"首页"样式 */
.navLink li:first-child {
    width: 134px;
    height: 76px;
    display: block;
    text-align: center;
    line-height: 76px;
    font-size: 18px;
    color: #f3f4f6;
    font-weight: bold;
    background: url(../img/indeximg/indextop.png) no-repeat;
    background-position: -275px -5px;
}

/* 购物车样式 */
.navLink .shopCar {
    margin-left: 50px;
    width: 192px;
    color: #ff5900;
    text-indent: 18px;
}

/* 购物车图片 */
.shopCar>i {
    width: 28px;
    height: 24px;
    margin-top: 26px;
    margin-left: -36px;
    background: url(../img/indeximg/indextop.png) no-repeat;
    background-position: -237px -5px;
    display: inline-block;
    vertical-align: top;
}

/* 商品数量 */
.shopCar span:nth-of-type(2) {
    vertical-align: top;
    margin-left: 15px;
}

/* 分类导航 */
    .nav_classify ul{
    width: 100%;
    height: 47px;
    line-height: 48px;
    display: flex;
    justify-content: start;
    margin-left: 30px;
}
/* 分类导航格内容样式 */
.nav_classify li{
    width: 118px;
    text-align: center;
    font-size: 14px;
    color:#9f9f9f;
}
.nav_classify li:hover{
    color: #fff;
    cursor: pointer;
}

/* 导航栏部分样式--end */


/* 轮播图部分样式--start */

.loopPart{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
/* 轮播图左侧公告部分 */
.loopReport{
    width: 222px;
    height: 372px;
    background: #fafbfc;
}
/* 左侧顶部登录部分 */
.loopLogin{
    margin: 0 5px;
    padding: 17px 10px;
    padding-right: 0;
    height: 56px;
    overflow: hidden;
}
.loopLogin img{
    width: 46px;
    height: 46px;
    float: left;
}
.loopLogin p{
    margin-left: 55px;
    line-height: 18px;
    font-size: 12px;
    cursor: pointer;
}
/* 立即登录样式 */
.loopLogin span{
    color: #1c8bde
}

/* 绑定角色样式 */
.loopBind{
    padding-top: 7px;
    margin: 0 auto;
    width: 202px;
    height: 58px;
    background: #f3f4f6;
}

.loopBind p{
    margin-left: 10px;
    font-size: 12px;
    line-height: 26px;
    height: 26px;
    width: auto;
}
/* 立即绑定样式 */
.loopBind span{
    float: right;
    font-size: 12px;
    margin: 5px 10px 0 0;
    color: #1f95f7;
    cursor: pointer;
}

/* 账户部分样式 */
.loopAccount{
    margin-top: 6px;
    padding-bottom: 14px;
    color: #cfcfcf;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    height: auto;
    max-height: 100px;
    display: block;
    overflow: hidden;
}
/* 文字前方小图标 */
.loopAccount i{
    width: 19px;
    height: 16px;
    display: inline-block;
    background: url(../img/indeximg/indexjl.png) no-repeat;
    background-position: -5px -825px;
    vertical-align: middle;
    margin-right: 5px;
}
.loopAccount>:first-child:hover i{ 
    background-position: -5px -809px;
}
.loopAccount>:last-child i{
    background-position: -5px -718px;
}
.loopAccount>:last-child:hover i{
    background-position: -24px -718px;
}
/* 文字样式 */
.loopAccount p{
    font-size: 14px;
    line-height: 26px;
    padding-left: 22px;
    cursor: pointer;
}
.loopAccount p:hover{
    color: #00AD8B;
    text-decoration: underline;
}

/* 公告、更多 */
.reportMore{
    font-size: 14px;
    color: #3a3f4a;
    margin:0 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border-bottom: 1px solid #ececec;}
.reportMore span{
    float: right;
    font-size: 12px;
    color: #1994eb;
    cursor: pointer;
    margin-top: 6px;
    font-weight: normal;
}

.reportMore span:hover{
    text-decoration: underline;
}

/* 公告列表 */
.reportList{
    padding-top: 5px;
}
.reportList li{
    font-size: 12px;
    padding: 5px 0;
    margin: 0 10px;
}
/* 文字内容 */
.reportList li span{
    width: 160px;
    line-height: 12px;
    height: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}
/* 文字hover */
.reportList li:hover span{
    cursor: pointer;
    text-decoration: underline;
}
/* 日期样式 */
.reportList li i{
    font-style: normal;
    float: right;
    font-size: 12px;
}

/* 轮播图右侧部分样式 */
/* 活动中心 */
.loopActive{
    width: 187px;
    height: 372px;
}
/* 活动中心、聚豆商城样式设置 */
.loopActive>p{
    display: block;
    width: 186px;
    height: 83px;
    line-height: 83px;
    text-align: center;
    font-size: 22px;
    color: #efd4c9;
    text-indent: 30px;
    background: url(../img/indeximg/indexjl.png) no-repeat;
    background-position: -6px -302px;
    cursor: pointer;
}
.loopActive>p:nth-child(1):hover{
    background-position: -6px -388px;
}
/* 聚豆商城背景图 */
.loopActive>p:nth-child(2){
    background-position: -6px -476px;
}
.loopActive>p:nth-child(2):hover{
    background-position: -6px -563px;
}

/* 轮播图样式 */
.totalL {
    width: 770px;
    height: 372px;
    margin: 0 auto;
    overflow: hidden;
    font-size: 14px;
    cursor: pointer;
}
/* 图片图片 */
.firstL {
    display: flex;
    width: 400%;
    transition: 1s;
    height: 330px;
    box-sizing: border-box;

}
/* 轮播文字 */
.firstL-word {
    width: 770px;
    height: 42px;
    background: rgb(232, 232, 232);
    box-sizing: border-box;
    position: relative;
}

.firstL-word span {
    border-right:1px solid #fff;
    float: left;
    width: 25%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    line-height: 42px;
    font-size: 14px;
}
.firstL-word span:hover{
    background: rgb(0, 173, 139);
    cursor: pointer;
    color: white;
}
.firstL>div {
    display: inline-block;
}

.firstL>div img {
    width: 100%;
}

/* 二维码背景图设置 */
.code{
    width: 187px;
    height: 208px;
    background: url(../img/indeximg/indexjl.png) no-repeat;
    background-position: -5px -5px;
}
/* 二维码图片设置 */
.code img{
    display: block;
    width: 140px;
    height: 140px;
    margin: 0 auto;
    padding-top: 26px;
}
/* 二维码文字设置 */
.code p{
    width: 187px;
    text-align: center;
    margin-top: 9px;
    font-size: 16px;
    color: #333;
    height: 16px;
    line-height: 16px;
}

/* 轮播图部分样式-end */


/* 限时抢购部分样式-start */
.flashSale{
    margin-bottom: 40px;
    padding-bottom: 30px;
    background: #fafbfc;
    height: auto;
    margin-top: 30px;
}
/* 标题部分样式 */
.flashSaleTitle{
    margin-left: 18px;
    width: 1155px;
    height: 49px;
    line-height: 49px;
    border-bottom: 2px solid #f3f4f6;
}
/* 限时抢购样式 */
.flashSaleTitle span:first-child{
    height: 16px;
    font-size: 16px;
    font-weight: bold;
    padding: 14px ;
    border-bottom: 2px solid #36ab87;
}
/* 更多样式 */
.flashSaleTitle span:last-child{
    font-size: 12px;
    color: #1994eb;
    cursor: pointer;
    float: right;
}

/* 商品列表部分样式 */
.flashSaleList{
    display: flex;
    justify-content:flex-start;
    padding: 0 15px;
}
/* 背景框样式 */
.flashSaleList li{
    width: 251px;
    height: auto;
    margin: 20px;
    box-sizing: border-box;
    padding:40px 0px 28px 0px;
    background: url(../img/indeximg/indexjl.png) no-repeat;
    background-position: -188px -770px;
    text-align: center;
    position: relative;
}
/* 图片样式 */
.flashSaleList img{
    width: 121px;
    height: 220px;
}
.flashSaleList img:hover{
    cursor: pointer;
}
.flashSaleList li>p{
    font-size: 12px;
}
/* 英雄名称 */
.heroName{
    font-size: 14px;
    font-weight: bold;
    margin: 8px 0
}
/* 英雄价格 */
.heroPrice{
    margin-bottom: 12px;
    color: #ff5900;
    height: 20px;
    line-height: 20px;
}
/* 新价格 */
.heroPrice b{
    font-size: 24px;
}
/* 原价格 */
.heroPrice span{
    color: #555;
    margin-left:10px ;
    text-decoration: line-through;
}
/* 倒计时 */
.countDown{
    text-align: center;
}
.countDown span{
    font-size: bold;
}
/* 立即购买按钮 */
.btnBuy{
    margin-top: 15px;
    width: 164px;
    height: 35px;
    line-height: 32px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background: #ff5900;
    cursor: pointer;
    outline: none;
    border: none;
    border-bottom: 3px solid #e04e00;
}
/* 降价提醒图标 */
.priceCountDown{
    width: 56px;
    height: 46px;
    background: url(../img/indeximg/indexjl.png) no-repeat;
    background-position: -5px -652px;
    position: absolute;
    top: 21px;
    left: 40px;
    z-index: 2;
    padding-top: 10px;
}
.priceCountDown p{
    text-align: center;
    color: #fff;
    line-height: 16px;
    font-size: 12px;
}
/* 限时抢购部分样式-end */

/* 新品上架、热门推荐样式-start */
.newShop{
    width: 952px;
    background: #fafbfc;
    display: inline-block;
    vertical-align: top;
}
/* 标题样式 */
.newShopTitle{
    margin-left: 18px;
    width: 916px;
    height: 52px;
    line-height:52px;
    border-bottom: 2px solid #f3f4f6;
    cursor: pointer;
}
/* 新品上架样式 */
.newShopTitle span:nth-child(1){
    font-size: 18px;
}
/* 热门推荐样式 */
.newShopTitle span:nth-child(2){
    width: 93px;
    height: 47px;
    font-size: 18px;
    line-height: 54px;
    color: #b8b8b8;
    margin-left: 10px;
    display: inline-block;
    padding-bottom:5px ;
    text-align: center;
}
/* 商品列表样式 */
.newShopList{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 18px;
    padding-bottom: 20px;
}
.newShopList li{
    width: 202px;
    height: 370px;
    margin:15px 13px 0;
    box-sizing: border-box;
    background: url(../img/indeximg/indexjl.png) no-repeat;
    background-position: -237px -6px;
    text-align: center;
    position: relative;
}
/* 图片hover效果 */
.newShopList li:hover{
    background: url(../img/indeximg/indexjl.png) no-repeat;
    background-position: -237px -385px;
    cursor: pointer;
}
/* 新品图片 */
.newShopList img{
    width: 116px;
    height: 212px;
    margin:25px 0 11px 0;
}
/* 商品名称 */
.newShopList p:nth-of-type(1){
    width: 200px;
    height:20px;
    color: #2e2e2e;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
}
/* Q币价 */
.newShopPrice{
    color: #606060;
    font-size: 12px;
}
/* 微信价 */
.newShopPrice span{
    color: #ff5900;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
}
/* 购买按钮 */
.btnBuyHot{
    width: 124px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: #2e9d7b;
    font-size: 12px;
    border: none;
    outline: none;
    color: #fff;
    margin-top: 10px;
}

/* 热门推荐部分样式 */
.hotShop{
    display: inline-block;
    vertical-align: top;
    width: 226px;
    margin-left: 10px;
    background: #f3f4f6;
}
.hotShop>div{
    background: #fafbfc;
    padding: 0px 15px;
}
/* 设置标题样式 */
.hotTitle{
    /* margin-left: 18px; */
    color: #555;
    border-bottom: 2px solid #f3f4f6;
    height: 52px;
}
.hotTitle span{
    display: inline-block;
    height: 100%;
    border-bottom: 2px solid #36ab87;
    line-height: 52px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    padding:0 5px;
}
/* 商品列表 */
.hotList{
    width: 100%;
    font-size: 12px;
}
/* 列表商品盒子 */
.hotListBox{
    padding-top: 16px;
    position: relative;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom:21px;
    cursor: pointer;
}
/* 移入时文字颜色变化 */
.hotListBox:hover p:nth-of-type(1){
    text-decoration: underline;
    color: #36ab87;
}
.hotListBox:hover p:nth-of-type(3){
    color: #f00;
}
.hotListBox:last-child{
    border: none;
}
/* 小图片 */
.hotList img{
    float: left;
    width: 76px;
    height: 54px;
}
.hotList p{
    font-size: 12px;
    padding-left:10px;
    overflow: hidden;
}
/* 名称样式 */
.hotList p:nth-of-type(1){
    font-weight: bold;
    line-height: 12px;
    /* 超出部分隐藏且显示为省略号 */
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 6px;
    padding-bottom: 2px;
}
/* 序号样式 */
.serialNum{
    position: absolute;
    top: 8px;
    left: 0;
    z-index: 1;
    width: 20px;
    height: 24px;
    background:url(../img/indeximg/iconjl.png) no-repeat;
    background-position: -5px -592px;
    text-align: center;
    line-height: 24px;
    color: #fff;
}
/* 猜你喜欢样式 */
.hotLike{
    margin-top: 18px;
}
/* 新品上架、热门推荐样式-end */


/* 周边商城部分样式 -start*/
.wrap .around{
    margin-top: 40px;
    width: 100%;
}
/* 商品列表 */
.aroundList{
    width: 1155px;
    display: flex;
    justify-content: flex-start;
    margin: 12px auto 0;
}
.around li{
    width: 25%;
    text-align: center;
}
/* 周边商品图片 */
.aroundList img{
    width: 266px;
    height: 254px;
}
/* 周边商品名称 */
.aroundList p{
    width: 276px;
    margin-top: 10px;
    font-size: 14px;
    text-align: left;
    text-indent: 1em;
}
/* 周边商品价格 */
.aroundList span{
    float: right;
    color: #ff5900;
    font-weight: bold;
}
.aroundList i{
    font-style: normal;
}

/* 周边商城样式-end */


/* 精彩活动部分样式-start */
.activity{
    width: 1195px;
}
.activityList{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.activityList li{
    width: 380px;
    border:1px solid #d7dde4;
    padding-bottom: 15px;
    cursor: pointer;
}
/* 活动部分图片样式 */
.activityList img{
    width: 380px;
    height: 148px;
}
/* 活动部分文字样式 */
.activityList p:nth-of-type(1){
    margin-left: 15px;
    margin-top: 10px;
    color: #f74a4a;
    font-size: 14px;
    font-weight: bold;
}
/* 日期样式 */
.activityList p:nth-of-type(2){
    font-size: 12px;
    margin: 10px 0 0 15px;
}
/* 点赞图标 */
.activityList p i{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../img/indeximg/huobaojl.png) 0 -168px no-repeat;
    margin: 0 5px 2px 0;
    vertical-align: bottom;
}
/* 点赞人数 */
.activityList p em{
    display: inline-block;
    font-style: normal;
    vertical-align: bottom;

}
.activityList p span{
    float: right;
    margin-right: 20px;
}
/* 精彩活动部分样式-end */

/* 底部样式-start */
.footer{
    background: #3b3f4a;
    margin-top: 70px;
    min-width: 1280px;
    padding: 25px 0 33px 63px;;
}
/* 设置字体以及字色 */
.footer li,.footer p{
    color: #acb1bb;
    font-size: 12px;
}
/* 底部模块样式 */
.footerMode{
    width: 226px;
    border-right: 1px solid #444853;
    height: 150px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
/* 底部模块标题样式 */
.footer .modeTitle{
    font-size: 16px;
}
/* 设置模块图标样式 */
.modeTitle i{
    width: 32px;
    height: 32px;
    margin: 0 10px 0 24px;
    background: url(../img/indeximg/indexbom.png) 0 -136px no-repeat;
    display: inline-block;
    vertical-align: middle;
}
.modeTitle2 i{
    background-position:-32px -136px;;
}
.modeTitle3 i{
    background-position:-63px -136px;;
}
.modeTitle4 i{
    background-position: -95px -136px;;
}
/* 设置模块列表内容 */
.modeList{
    margin-left: 71px;
}
.modeList li{
    height: 24px;
    line-height: 24px;
    overflow: hidden;
}
/* 底部二维码样式 */
.footer .footerCode{
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
.footerCode>div{
    display: inline-block;
    margin-left: 50px;
}
.footerCode>div:nth-of-type(2){
    margin-left: 40px;
}
/* 图片为默认样式 */
.footerCode p{
    margin-top: 18px;
    text-align: center;
    font-size: 16px;
}

/* 底部公告说明样式 */
.footer .footerReport{
    width: 90%;
    font-size: 12px;
    text-align: center;
    border-top: 1px solid #444853;
    margin: 30px 0 50px;
    padding-top: 30px;
    color: #81858f;
}
/* 底部样式-end */


