body,ul,li{
    padding: 0;
    margin: 0;
    list-style: none;
}
body{
    overflow-x: hidden;
    min-width: 1220px;
}
a{
    color: #666666;
    text-decoration: none;
}
.wrap{
    overflow: hidden;
}
.top{
    width: 100%;
    height: 30px;
    font-size: 0;
    line-height: 30px;
}
.topHead{
    width: 80%;
    margin: 0 auto;
}
.phone{
    vertical-align: middle;
    display: inline-block;
    width: 15px;
    height: 30px;
    background: url("../img/indeximg/indexjl.png") -40px 69% no-repeat;
}
.topHead div{
    font-size: 12px;
    color:#666666;
    display: inline-block;
}
.topHead span:hover,.topRight li:hover{
    cursor: pointer;
    text-decoration: underline;
}
.topRight{
    float: right;
}
.topRight li{
    display: inline-block;
    margin: 0 10px;
}
.topRight li span{
    display: inline-block;
    transform: rotate(-90deg);
}
.head{
    background: url("../img/indeximg/bg-head.jpg") 50% 0 no-repeat;
    height: 201px;
    position: relative;
}
.headTop{
    width: 100%;
    position: absolute;
    top:15%;
    left: 10%;
}
.headTop div{
    display: inline-block;
    vertical-align: middle;
}
.logo{
    width: 300px;
    height: 55px;
    background: url("../img/indeximg/indextop.png") 40% 0 no-repeat;
}
.seek{
    margin-left:7%;
    border:1px solid #684c4c;
}
.inp{
    box-sizing: border-box;
    width: 470px;
    height: 47px;
    padding: 14px 10px 15px;
    background: none;
    color: #9f9f9f;
    border: none;
    outline: none;
}
.inp:hover{
    color: #ddd;
}
.glass{
    vertical-align: middle;
    display: inline-block;
    width: 49px;
    height: 46px;
    background:rgb(105,109,114) url("../img/indeximg/放大镜.png") 50% 35% no-repeat ;
    background-size: 70%;
}
.lol{
    width: 223px;
    height: 59px;
    background: url("../img/indeximg/indextop.png") 26% 0% no-repeat;
    margin-left: 5%;
}

.lead{
    width: 100%;
    font-size: 18px;
    color:#9F9F9F;
    position: absolute;
    bottom: 0px;
    left:11%;
}
.lead li{
    width: 132px;
    text-align: center;
    display: inline-block;
    height: 76px;
    line-height: 76px;
    cursor: pointer;
}
.lead li:nth-child(1){
    color: #fff;
    font-weight: bold;
    background: url("../img/indeximg/indextop.png") 15% 0% no-repeat;
}
.lead li:hover{
    color: #FF5900;
}
.lead .shop{
    width: 185px;
    color: #FF5900;
    margin-left: 3%;
}
.shop span{
    display: inline-block;
    width: 45px;
    height: 30px;
    margin-bottom: 10px;
    vertical-align: middle;
    background: url("../img/indeximg/indextop.png") 12.2% 0% no-repeat;
}

/* 内容部分 */
.content{
    width: 100%;
    background: #f3f4f6;
    border: 1px solid transparent;
}
.content span{
    font-size: 12px;
}
.contentH{
    font-size: 12px;
    color: #606060;
    margin: 24px 164.6px 8px;
}
.contentD{
    width: 80%;
    margin: 0 auto;
    background: #fff;
    padding: 18px 22px;
    margin-bottom: 50px;
}
h6{
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}
select{
    width: 163px;
    padding: 4px 6px;
    display: none;
}
/* 商品信息 */
.goods{
    padding:0 16px;
    box-sizing: border-box;
    background: #f3f4f6;
    font-size: 16px;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
.name{
    width: 377.6px;
}
.goods tr{
    border-bottom: 1px solid #ddd;
    height: 50px;
}
.goods th{
    padding: 5px 0;
}
.goods th:first-child{
    text-align: left;
}
tr td:nth-child(2){
    text-align: left;
}
tr td:nth-child(2) span{
    display: inline-block;
    width: 39px;
    height: 28px;
    background: url(../img/skinimg/原计划刀妹.jpg) 0 0 no-repeat;
    background-size: 100%;
    overflow: hidden;
    vertical-align: middle;
    margin-right: 15px;
}
tr td:last-child button{
    color: #1C8BDE;
    border: none;
    outline: none;
    cursor: pointer;
}
tr td input{
    width: 38px;
    text-align: center;
}
.dis>span span{
    color: red;
    margin: 0 10px;
}
i{
    color: #1C8BDE;
}
.refer{
    width: 100%;
    height: 58px;
    line-height: 58px;
    background: #fffeee;
    border: 1px solid #ddd;
    font-size: 12px;
    margin: 30px 0 ;
    box-sizing: border-box;
    padding-left: 30px;
    font-weight: bold;
}
.refer span{
    color:red;
}
.refer button{
    width: 10%;
    height: 100%;
    background: grey;
    color: #fff;
    font-weight: bold;
    border: none;
    float: right;
    font-size: 20px;
}
.pay{
    color: #333;
    float: right;
    margin-right: 30px;
}
.pay span{
    color: red;
    font-size: 22px;
}
.content p{
    font-size:14px;
}
.pRed{
    color:red;
}
.floor{
    background: #3b3f4a;
    color: #ACB1BB;
    text-align: center;
    padding-top: 25px;
}
.floor h4{
    font-weight: lighter;
    margin: 0;
}
.floor span{
    vertical-align: middle;
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url("../img/indeximg/indexbom.png") 0px -136px no-repeat;
    margin: 0 10px 10px 0;
}
.floor>div{
    width: 227px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    border-right: 1px solid #444853;
}
.floor li{
    margin: 10px 0;
    margin-left:45px;
    font-size: 12px;
}
.floor div:nth-child(2) span{
    background-position-x: -32px;
}
.floor div:nth-child(3) span{
    background-position-x: -63px;
}
.floor div:nth-child(4) span{
    background-position-x: -95px;
}
.floor .ewm{
    width: 150px;
    border: none;
}
.ewm p{
    font-size: 16px;
}
.floor .floorEnd{
    width: 80%;
    font-size: 12px;
    text-align: center;
    border-top: 1px solid #444853;
    margin: 30px 0 50px;
}
.img>img{
    width: 100%;
    /* height: 100%; */
}